.byline {
  display: flex;
  align-items: center;
  gap: 16px;
}

.byline .byline-image img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.byline .byline-name {
  font-weight: 700;
}

.byline .byline-occupations ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.byline .byline-occupations li {
  display: inline;
}

.byline .byline-occupations li:not(:last-child)::after {
  content: ', ';
}
